h1,aside{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
}
.col-md-8{
    text-align: center;
    background-color: lightsteelblue;
}
.titre{
    line-height: 100px;
    border-style:solid;
    border-radius: 25px;
    color: darkslateblue;
}
.col-md-6{
    line-height: 50px;
}
footer{
    line-height: 25px;
    background-color: rgba(192, 192, 192,0.8);
}
aside{
    border-style:solid;
    border-radius: 25px;
    color: darkslateblue;
    background-image: url("images/rideaux.jpg");
    /*background-color:lightgray;*/
    background-repeat: no-repeat;
    background-size:cover;
    height: 470px;
    padding-top: 150px;
}
.btn{
    border-radius: 25px;
}
a{
    color: darkslateblue;
}
